.pay {
  padding: 30px;

  #submit {
    cursor: pointer;
    margin-top: 30px;
    border: none;

    #button-text {
      font-family: "Montserrat", sans-serif;
      border: 1px solid #1dbf73;
      font-weight: 400;
      color: #fff;
      background: #1dbf73;
      padding: 15px 35px;
      transition: 0.3s;
    }

    #button-text:hover {
      color: #1dbf73;
      background: #fff;
    }
  }
}
